body {
    font-family: "Lato", "sans-serif";
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  /* Left Side Navigation*/
  .sidenav {
    height: 100%;
    width: 80%;
    /* position: fixed; */
    z-index: 1;
    margin-top: 5px;
    top: 90;
    left: 0;
    background-color:black;
    padding-top: 40px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    background-color: orange;
  }
  
 /* Right Side Navigation*/

  .sidenavright {
    height: 659px;
    width: 130%;
    margin-top: 5px;
    top: 90;
    background-color:whitesmoke;
    padding-top: 40px;
    padding-left: 20px;
    z-index: 1;
    margin-right: 50px;
    margin-bottom: 100px;
    
  }
  
  .sidenavright a {
    margin-left: 20px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
  }

  .main {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .leftsidestyle {
    color: white; 
    font-size: 14px;
    padding-top: 15px;
    padding-left: 20px;
  }


/* Chat*/

#chatsection {
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  .messages-box,
  .chat-box {
    height: 611px;
    width: 100%;
    overflow-y: scroll;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
    width: 100%;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }

  .hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color:gray;
	margin: 10px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: gray;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 10px;
}

/*Final section*/

.downsection {
    margin-top: 20px;
    background-color: whitesmoke;
}


ul.my-row {
    display: table;
    width: 80%;
    text-align: center;
    margin-left: 120px;
    margin-top: 50px;
  }
  
ul.my-row > li {
    display: table-cell;
  }